.pagination {
  text-align: center;
}

.fs-button.topage {
  padding: 8px 20px;
  background-color: #14315d;
  color: #fff;
  font-size: 20px;
  font-family: var(--font-sans-serif);
  margin-left: 20px;
  margin-right: 20px;
}