@import '../variables';

.button {
  display: inline-block;
  border-radius: var(--space-half);
  padding: var(--space-single) var(--space-double);
  margin-top: var(--space-triple);
  font-family: var(--font-sans-serif);
  font-size: var(--size-small);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  line-height: 1rem;
  background: var(--button-color);
  color: white;

  span {
    vertical-align: middle;
  }
}

.button-group {
  margin-top: var(--space-triple);
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-around {
    justify-content: space-around;
  }

  .button {
    margin: 0;
  }
}
