@import '../components/variables';

.blog-post-blog-link {
  padding: 0.5rem 1rem;
  border-left: 2px solid var(--color-light-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-dark-blue-darkable);
  text-decoration: none;
  font-family: var(--font-sans-serif);
  font-weight: bold;
}

.blog-post-title {
  font-size: var(--size-xxl);
  font-weight: normal;
  color: var(--color-dark-blue-darkable);
  
  @media (--large-up) {
    padding-right: 4rem;
  }
}

.blog-post-byline {
  margin-bottom: var(--space-single);
  font-style: italic;
  a {
    text-decoration: none;
    color: var(--body-color);
    border-bottom: 1px solid var(--body-color-faded);
  }
}

.blog-post-content ul {
  font-size: var(--size-base);
  margin-left: var(--space-double);
  margin-bottom: var(--space-one-half);
}

.blog-post-content li {
  margin-bottom: var(--space-single);
}

.blog-post-content hr {
  margin-bottom: var(--space-one-half);
}

.blog-post-content > p a, .blog-post-content li a {
  text-decoration: none;
  color: var(--body-color);
  border-bottom: 1px solid var(--body-color-faded);
  &:hover {
    border-color: var(--color-light-blue)
  }
}

.blog-post-content a.gatsby-resp-image-link {
  border: none;
}

.gatsby-resp-image-wrapper + em {
  font-size: var(--size-med-sm);
  text-align: center;
  display: block;
  margin: var(--space-single);
}

.blog-post-content > h2 {
  font-weight: normal;
}

.blog-post-content pre {
  display: block;
  padding: 1rem;
}

.blog-post-content code {
  line-height: 2rem;
  font-size: 1rem;
}

.markdown-heading-link {
  text-decoration: none;
  color: var(--color-dark-blue-darkable);
  display: inline-block;
}

.markdown-heading-link:before {
  content: '';
  background-image: url(../img/custom-icons/link-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-180%, 70%);
  opacity: 0.3;
}

@media (prefers-color-scheme: dark) {
  .markdown-heading-link:before {
    background-image: url(../img/custom-icons/link-icon-white.svg);;
  }
}

.markdown-heading-link.markdown-heading-link__lower-heading:before {
  opacity: 0;
  transform: translate(-180%, 40%);
}

.markdown-heading-link:hover:before {
  opacity: 0.7;
}

.table-of-contents {
  border: 10px solid rgba(var(--rgba-light-blue), 0.10);
  padding: var(--space-double);
}

.table-of-contents > h2 {
  margin-top: 0;
  font-size: var(--size-md-small);
  text-transform: uppercase;
}

.table-of-contents ul {
  margin-top: 0;
  margin-bottom: 0;
}

.table-of-contents li > ul {
  margin-top: var(--space-single);
}

.table-of-contents ul > li:last-child {
  margin-bottom: 0;
}

.blog-post--saga-box {
  font-size: var(--size-md-small);
  margin: var(--space-single) 0;
  font-style: italic;
  padding: var(--space-single);
  border-left: 1px solid rgba(var(--rgba-light-blue), 0.70);
}

.blog-post--saga-box em {
  font-style: normal;
}

.blog-post--saga-box a {
  color: var(--body-color);
  text-decoration: none;
  border-bottom: 1px solid rgba(var(--rgba-light-blue), 0.70);
}