@import '../components/variables';

.blog-post-byline {
  margin-bottom: var(--space-single);
}

.blog-post-content ul {
  font-size: var(--size-base);
  margin-left: var(--space-double);
  margin-bottom: var(--space-one-half);
}

.blog-post-content li {
  margin-bottom: var(--space-single);
}

.markdown-heading-link {
  text-decoration: none;
  color: var(--body-color);
  display: inline-block;
}

.markdown-heading-link:before {
  content: '';
  background-image: url(../img/custom-icons/link-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-180%, 70%);
  opacity: 0.3;
}

@media (prefers-color-scheme: dark) {
  .markdown-heading-link:before {
    background-image: url(../img/custom-icons/link-icon-white.svg);;
  }
}

.markdown-heading-link.markdown-heading-link__lower-heading:before {
  opacity: 0;
  transform: translate(-180%, 40%);
}

.markdown-heading-link:hover:before {
  opacity: 0.7;
}
