@import '../variables';

.hero {
  padding: var(--space-single-vw) var(--space-half-vw);
  box-sizing: content-box;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: var(--size-xxxl);
    font-weight: normal;
    color: var(--color-dark-blue-darkable);
  }

  p {
    margin: var(--space-single) 0 0;
    font-size: var(--size-med-lg);
    font-style: italic;
  }
}
