@import '../variables';

.content-container {
  padding: var(--space-half-vw);
  box-sizing: content-box;
  max-width: 45rem;
  margin: 0 auto;

  @media (--xl-up) {
    padding: var(--space-half-vw);
  }
}
