@import '../fonts';
@import '../variables';

/* Default document styles */
html {
  font: 100%/1.8 var(--font-serif);
  background: var(--body-bg);
  color: var(--body-color);
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

input, button {
  appearance: none;
  border: none;
  font: inherit;
  background: none;
}

img {
  max-width: 100%;
}

/* required for picture element */
picture {
  position: initial;
}

/* Typography */

h1, h2, h3 {
  line-height: 1.375;
  font-family: var(--font-sans-serif);
  font-weight: 800;
  letter-spacing: 0.025em;
}

h1 {
  font-size: var(--size-xl);
  margin-bottom: var(--space-one-half);
  margin-top: var(--space-double);
}

h2 {
  font-size: var(--size-large);
  margin-bottom: var(--space-single);
  margin-top: var(--space-quadruple);
}

h3 {
  font-size: var(--size-med-lg);
  margin-bottom: var(--space-single);
  margin-top: var(--space-quadruple);
  font-weight: 700;
}

p {
  font-family: var(--font-serif);
  font-size: var(--size-base);
  margin-bottom: var(--space-one-half);
  color: var(--body-color);
}

a {
  color: var(--link-color);
}

ol {
  font-family: var(--font-serif);
  font-size: var(--size-base);
  margin: var(--space-double);
}

/* Utility Classes */
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Webflow general stuff */

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 767px) {
  .w-container {
    margin-left: 0;
    margin-right: 0;
  }
}
.w-list-unstyled {
  padding-left: 0;
  list-style: none;
}
.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
input.w-button {
  -webkit-appearance: button;
}

/* Custom FS from webflow */
.widewrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1346px;
  padding-top: 40px;
  padding-right: 33px;
  padding-left: 33px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-bottom: 34px;
  color: var(--color-dark-blue-darkable);
  font-size: 50px;
  line-height: 55px;
  font-weight: 800;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.heading.centered {
  text-align: center;
}


.text-span-2 {
  color: #f74d7b;
}

.subheader {
  color: var(--body-color-faded);
  font-family: "Proxima Nova", sans-serif;
  font-size: 35px;
  line-height: 40px;
  a {
    color: var(--body-color-faded);
    border-bottom: 1px dotted var(--body-color-faded);
    text-decoration: none;
  }
}

.subheader.centered {
  text-align: center;
}

.herotext {
  width: 47.6%;
  margin-right: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.herotext.cenetered {
  width: 100%;
  max-width: 894px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 33px;
  padding-left: 33px;
}

.text-span-4 {
  color: #26abe8;
}

@media screen and (max-width: 479px) {
  .widewrapper {
    padding-top: 0px;
  }

  .heading {
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 40px;
  }

  .heading.centered {
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    letter-spacing: -0.3px;
    text-transform: uppercase;
  }

  .subheader {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }

  .subheader.centered {
    text-align: left;
  }

  .herotext {
    font-size: 1px;
  }

  .herotext.cenetered {
    padding-top: 60px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .button.cta {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .widewrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .widewrapper.herowrapper {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .herotext {
    width: 100%;
    margin-right: 0px;
  }

}