backend:
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img

publish_mode: editorial_workflow

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/pages/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "blog-post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Authors", name: "author", widget: "relation", collection: "people", displayFields: ['name', 'github'], searchFields: ['name', 'github', 'twitter'], valueField: 'name'}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Tags", name: "tags", widget: "list"}
      - {label: "CTA Text", name: "cta_text", widget: "text"}
      - {label: "CTA Button", name: "cta_button", widget: "text"}
      - {label: "Description", name: "cta_text", widget: "text"}

  - name: "people"
    label: "People"
    folder: "src/pages/people"
    create: true
    slug: "{{firstName}}-{{lastName}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "people"}
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Twitter", name: "twitter", widget: "string"}
      - {label: "Github", name: "github", widget: "string"}
      - {label: "Bio", name: "bio", widget: "markdown"}
      - {label: "Portrait", name: "img", widget: "image"}

  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/about/index.md"
        label: "About"
        name: "about"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "about-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}

