@import '../variables';

.home-logos {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  $margin: calc(-1 * var(--space-single));
  margin: var(--space-double) $margin $margin;
}

.home-logo {
  height: var(--space-double);
  margin: var(--space-single);

  &.is-square {
    height: calc(var(--space-double) * 2);
  }

  img {
    display: block;
    height: 100%;
  }

  @media (--medium-up) {
    height: calc(var(--space-double) * 1.25);
    margin: calc(var(--space-single) * 1.25);

    &.is-square {
      height: calc(var(--space-double) * 2.5);
    }
  }
}
