.footerwrapper {
  max-width: 894px;
  margin-top: 160px;
  padding-right: 33px;
  padding-bottom: 60px;
  padding-left: 33px;
  font-family: proxima-nova, sans-serif;
  color: var(--color-dark-blue-darkable);
  font-size: 20px;
  line-height: 30px;
}

.footerlink {
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  border-bottom: 1px none var(--body-color-faded);
  color: var(--color-dark-blue-darkable);
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.5px;
  text-decoration: none;
}

.footerlink.w--current {
  border-top: 1px none #000;
  font-weight: 800;
  letter-spacing: 0px;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-symbol {
  display: block;
  margin-top: 100px;
  text-align: center;
}

.image-6 {
  display: inline;
  text-align: center;
}

.footer-notes {
  font-family: proxima-nova, sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  color: var(--color-dark-blue-darkable);
}

.copyright {
  font-family: proxima-nova, sans-serif;
  margin-top: 40px;
  color: var(--body-color-faded);
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .footerwrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
}