@import '../variables';

.testimonials {
  list-style: none;
  margin-top: var(--space-triple);

  @media (--large-up) {
    $overlap: calc(-1 * var(--space-single));
    margin-left: $overlap;
    margin-right: $overlap;
  }
}

.testimonial {
  display: flex;
  margin-bottom: var(--space-triple);
  align-items: center;
  flex-direction: column;

  @media (--medium-up) {
    flex-direction: row;
    align-items: flex-start;

    &:nth-child(even) {
      flex-direction: row-reverse;

      & > img {
        margin-right: 0;
        margin-left: var(--space-one-half);
      }
    }
  }

  @media (--large-up) {
    &:nth-child(even) > img {
      margin-left: var(--space-double);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  & > img {
    display: block;
    margin-bottom: var(--space-one-half);
    border: 0.25rem solid var(--color-dark-blue);
    max-width: 14rem;
    width: 10rem;
    flex: 0;

    @media (--medium-up) {
      margin-right: var(--space-one-half);
      border-width: var(--space-half);
      width: 25vw;
    }

    @media (--large-up) {
      margin-right: var(--space-double);
    }
  }

  & > blockquote {
    max-width: 30rem;
    flex: 1;

    & > p:first-of-type::before {
      content: open-quote;
      margin-right: 0.125em;
    }

    & > p:last-of-type::after {
      content: close-quote;
      margin-left: 0.125em;
    }

    cite {
      color: var(--body-color-faded);
      font-size: var(--size-med-sm);
      font-style: normal;
    }

    @media (--medium-up) {
      max-width: none;
    }
  }
}
